form {
    background-color: #fff;
    padding: 30px 35px;
    border-radius: 16px;
    box-shadow: 0 15px 40px rgba(0,0,0,0.1);
    display: flex;
    flex-direction: column;
    gap: 15px;
    max-width: 500px;
    margin: auto;
}

input[type="number"], input[type="text"], input[type="date"], button {
    width: 100%;
    margin-bottom: 10px;
}

