<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
     <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
    {% block head %}
    {% endblock %}
</head>
<body>
    <h1>Welcome to shopping site</h1>
    {% with messages = get_flashed_messages() %}
  {% if messages %}
    <ul class="flash-messages">
      {% for msg in messages %}
        <li>{{ msg }}</li>
      {% endfor %}
    </ul>
  {% endif %}
{% endwith %}
    <a href="/login">Log in</a>
    <a href="/register">Register</a>
    <a href="/logout">Logout</a>
    <a href="/demoProfile">אם אתה אורח תכנס אלינו......</a>
    
      {% block body %}
    {% endblock %}
</body>
</html>