{% extends 'index.html'%}

{% block head %}
 <link rel="stylesheet" href="{{ url_for('static', filename='css/login.css') }}">
{% with messages = get_flashed_messages() %}
  {% if messages %}
    <ul class="flash-messages">
      {% for msg in messages %}
        <li>{{ msg }}</li>
      {% endfor %}
    </ul>
  {% endif %}
{% endwith %}
{% endblock  %} 


{% block body %}
<h>login</h>
<form action="login" method="post">
    <input type="text" name="email" placeholder="input email">
    <input type="text" name="password" placeholder="input password">
    <input type="submit" value="login">  
</form>
{% endblock  %}
